/* Best Selling Products Section */
.best-selling-products {
    padding: 40px 0;
    background: #fff;
}

/* Product Box */
.best-selling-box {
    position: relative;
    background: #fff;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
    margin: 15px;
    width: 100%;
}

.best-selling-box:hover {
    transform: translateY(-5px);
}
.product-info .product-title {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Show 2 lines of text */
    -webkit-box-orient: vertical;
    line-height: 1.2;
    min-height: 2.4em; /* 2 lines × line-height */
    margin: 10px;
}


.price-row {
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.price-row {
    align-items: center;
    display: flex;
    gap: 8px;
    white-space: nowrap;
    align-items: flex-start;
}

.original-product-price {
    margin-left: 5px;
    white-space: nowrap;
}
/* Image Styles */
.best-selling-image {
    position: relative;
    margin-bottom: 10px;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.best-selling-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .7s ease;
}

.best-selling-image:hover img {
    transform: scale(1.1);
}

/* Badge and Button Styles */
.best-wishlist-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.best-wishlist-btn i {
    font-size: 16px;
    color: #333;
    background-color: transparent;
}

/* Responsive Design */
@media (min-width: 767px) {
    .best-selling-products .col-md-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width:320px) and (max-width: 766px) {
    .best-selling-products .col-lg-2-4,
    .best-selling-products .col-md-2-4 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
        width: calc(50% - 10px) !important;
    }
    
    .best-selling-box .product-title {
        font-size: 12px;
        /* height: 18px; */
        line-height: 18px;
    }
    
    .best-selling-box .plus-btn {
        opacity: 1;
        width: 25px;
        height: 25px;
        bottom: 5px;
        right: 5px;
    }
    
    .best-selling-box .product-badge {
        font-size: 10px;
        padding: 3px 8px;
    }
    
    .best-selling-box .original-product-price {
        font-size: 10px;
        margin-left: 2px;
    }

    .best-selling-box .best-wishlist-btn {
        top: 10px;
        right: 10px;
    }
}